<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img class="card-img-top" src="<%= university.image %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-bold"><%= university.name %></h5>
                <p class="card-text"><%= university.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary"><%= university.location %></li>
                <li class="list-group-item">In-State Tuition: $<%= university.ISTuition %></li>
                <li class="list-group-item">Out-Of-State Tuition: $<%= university.OOSTuition %></li>
            </ul>
            <div class="card-body">
                <a href="/universities/<%= university._id %>/edit" class="card-link btn btn-info">Edit University</a>
                <form class="d-inline" action="/universities/<%= university._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h2>Leave a Review:</h2>
        <form action="/universities/<%= university._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review:</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="invalid-feedback">
                    Review cannot be blank.
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% for (let review of university.reviews) {%>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title text-bold">Rating: <%= review.rating %></h5>
                <p class="card-text"><%= review.body %></p>
                <form action="<%= university._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>
